[branch "master"]
    rebase = true
[branch]
    autosetuprebase = always
[push]
    default = simple
[core]
    whitespace = cr-at-eol,-trailing-space
[credential]
	helper = "!f() { /root/.vscode-server/bin/b3e4e68a0bc097f0ae7907b217c1119af9e03435/node /tmp/vscode-remote-containers-fb8f8543-d140-4daf-98ab-d9867dc82d16.js git-credential-helper $*; }; f"
[user]
	email = andrei.kvasov.dl@gmail.com
	name = Andrei Kvasov
[remote "upstream_sap"]
    url = git@github.wdf.sap.corp:sundew/CyberBattleSim_sundew.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[branch "main"]
    remote = origin
    merge = refs/heads/main
[remote "upstream"]
    url = https://github.com/microsoft/CyberBattleSim.git
    fetch = +refs/heads/*:refs/remotes/upstream/*