[branch "master"]
    rebase = true
[branch]
    autosetuprebase = always
[push]
    default = simple
[core]
    whitespace = cr-at-eol,-trailing-space
[credential]
	helper = "!f() { /root/.vscode-server/bin/704ed70d4fd1c6bd6342c436f1ede30d1cff4710/node /tmp/vscode-remote-containers-6266ad45-6e46-42bc-aef9-f8bb06d38f11.js git-credential-helper $*; }; f"
[user]
	email = andrei.kvasov.dl@gmail.com
	name = Andrei Kvasov
[remote "upstream_sap"]
    url = git@github.wdf.sap.corp:sundew/CyberBattleSim_sundew.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[branch "main"]
    remote = origin
    merge = refs/heads/main
[remote "upstream"]
    url = https://github.com/microsoft/CyberBattleSim.git
    fetch = +refs/heads/*:refs/remotes/upstream/*