[branch "master"]
    rebase = true
[branch]
    autosetuprebase = always
[push]
    default = simple
[core]
    whitespace = cr-at-eol,-trailing-space
[credential]
	helper = "!f() { /root/.vscode-server/bin/6261075646f055b99068d3688932416f2346dd3b/node /tmp/vscode-remote-containers-fc82714981bb5b839e9164045b8c0ed6aada0ac1.js $*; }; f"
[user]
	email = andrei.kvasov.dl@gmail.com
	name = Andrei Kvasov
[remote "origin"]
        url = git@github.wdf.sap.corp:sundew/CyberBattleSim_sundew.git
        fetch = +refs/heads/*:refs/remotes/origin/*
[branch "main"]
        remote = origin
        merge = refs/heads/main
[remote "upstream"]
        url = https://github.com/microsoft/CyberBattleSim.git
        fetch = +refs/heads/*:refs/remotes/upstream/*